- provide :title, "Reset Password"

.row
	.col-md-4.col-md-offset-4
		.panel.panel-default
			.panel-body
				= simple_form_for @user, url: password_reset_url(params[:id]) do |f|
					= hidden_field_tag :email, @user.email
					= f.input :password
					= f.input :password_confirmation
					= f.submit "Submit", class: "btn btn-primary"