%nav.navbar.navbar-default.navbar-static-top
	.container
		= link_to "Brand", root_url, class: "navbar-brand"

		%ul.nav.navbar-nav.navbar-right
			%li= link_to "About", about_url
			%li= link_to "Help", help_url
			- if logged_in?
				%li= link_to "#{current_user.name}", current_user
				%li= link_to "Setting", edit_user_url(current_user)
				%li= link_to "Logout", logout_url, method: :delete
			- else
				%li= link_to "Sign Up", signup_url
				%li= link_to "Login", login_url
